<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="github" value="https://nuget.pkg.github.com/osisa/index.json" />
		<!--<add key="NugetLocal" value="..\.packagePush" />
		<add key="NugetLocalBase" value="..\.packageBasePush" />-->
		<add key="Peachpie" value="https://feed.peachpie.io/wpdotnet/v3/index.json" />

		<add key="PowerShell Gallery" value="https://powershell.myget.org/F/powershell-core/api/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="remo.oser@osisa.com" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
	<apikeys>
		<add key="https://nuget.pkg.github.com/osisa" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAtjMXpah3wUeOxFQkY1IOAwAAAAACAAAAAAADZgAAwAAAABAAAADp4VWoRsFmZaNUksXm9MQmAAAAAASAAACgAAAAEAAAAB5gImP+XN4Xzfd6lXPxLGwwAAAA42WMx5PHaA5QMeKWF5OEGSQx2rQvWIqfiUiW4Jn6E3zjTNpvtqdeDG5Wn27Y9zSLFAAAAOQTNnjq1+syjlQx0tVFi2jvSDJe" />
	</apikeys>
</configuration>