# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AsciiDocNet.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\asciidoctorN\asciidocnet\src\.idea\.idea.AsciiDocNet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
